name: CI

on:
  push:
    branches:
      - main
  pull_request_target:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.head_ref }}
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install -U pip
        python -m pip install -U pycodestyle==2.10.0 autopep8
        python -m pip install -U -r test/pip_reqs.txt
    - name: Apply AutoPEP8
      run: |
        autopep8 --in-place --recursive --max-line-length=100 .
    - name: Commit AutoPEP8
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "[ci] auto-format"
        branch: ${{ github.head_ref }}
    - name: Apply Version Metadata
      run: |
        python test/auto_apply_version_metadata.py $(git log --pretty=format:'%h' -n 1)
    - name: Commit Version Metadata
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "[ci] apply-version-metadata"
        branch: ${{ github.head_ref }}
    - name: Execute Tests
      run: |
        python -m unittest discover -v
