name: MetaDataCheck

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check MetaData
      run: |
        echo "Analyzing All Py Files"
        cat $(git ls-files '*.py') | grep "# ba_meta require api 7"
